audio,
button {
  margin: 1rem auto;
  display: block;
}

audio {
  display: none;
}

button {
  padding: 0 1rem;
  min-width: 7rem;
  min-height: 3rem;

  border-radius: 9999px;
  border-color: black;

  text-transform: uppercase;
  font-weight: bold;
}

#start-button {
  min-width: 3rem;
  padding: 0;
}

#resume-button {
  border: 2px red solid;
  background-color: rgba(255, 0, 0, 0.15);
  color: red;
}

#pause-button {
}

#resume-button,
#pause-button {
  display: none;
}

/* Recording indicator */
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-circle:before {
  content: '\f111';
}

.blink {
  animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
