#App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  position: relative;
}

audio,
button {
  margin: 1rem auto;
  display: block;
}

audio,
#display {
  display: none;
  position: absolute;
  transform: translate(-50%);
}

button {
  padding: 0 2rem;
  min-width: 14rem;
  min-height: 6rem;

  border-radius: 9999px;
  border-color: black;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;

  outline: none;
}

#start-button {
  min-width: 6rem;
  padding: 0;
}

#stop-button {
}

#stop-button {
  display: none;
}

/* Recording indicator */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}

.fa-2x {
  font-size: 2em;
}

.fa-4x {
  font-size: 4em;
}

/* Recording indicator  */

.blink {
  animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
